@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* * {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

.footer {
  background-color:rgb(107, 149, 240)
}

nav {
 background-color:rgb(107, 149, 240)
}
.navbar {
}

.body {
  background-color:rgba(107, 149, 240, 0.664);
  flex-grow: 1;
}

.mainParent {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
}

.cardBox {
  border: 2px #333 solid;
  width: 302px
}

.projectBody{
  display: flex;
}

.cardImg {
  width: 300px;
  height: 200px;
} */
